menu "WiFi config"

    choice ESP_WIFI_MODE
        prompt "AP or STA"
        default ESP_WIFI_IS_STATION
        help
            Whether the esp32 is softAP or station.

    config ESP_WIFI_IS_SOFTAP
        bool "SoftAP"
    config ESP_WIFI_IS_STATION
        bool "Station"
    endchoice

    config ESP_WIFI_MODE_AP
        bool
        default y if ESP_WIFI_IS_SOFTAP
        default n if ESP_WIFI_IS_STATION

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "your_network_name"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "your_password"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config MAX_STA_CONN
        int "Max STA conn"
        default 4
        help
            Max number of the STA connects to AP.

endmenu


menu "MQTT config"

    config MQTT_USER
        string "MQTT Username"
        default "your_username"
        help
            MQTT Username

    config MQTT_PASSWORD
        string "MQTT Password"
        default "your_password"
        help
            MQTT Password

    config MQTT_TOPIC
        string "MQTT Topic"
        default "your_topic"
        help
            MQTT topic you want to publish to

    config MQTT_SERVER_IP
        string "MQTT server ip"
        default "your_ip"
        help
            IP of the MQTT server

    config MQTT_SERVER_PORT
        string "MQTT server port"
        default "your_port"
        help
            Port of the MQTT server

endmenu


menu "Sensor config"

    menu "Battery check"

        config BATTERY_CHECK_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the battery level should be checked or not

    endmenu

    menu "Bosch BME280"

        config SENSOR_BME280_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the BME280 sensor should be enabled or disabled

    endmenu

    menu "Bosch BME680"

        config SENSOR_BME680_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the BME680 sensor should be enabled or disabled

    endmenu

    menu "Window sensor 1"

        config SENSOR_WINDOW_1_ENABLED
            bool "enable sensor"
            default y
            help
                Whether the window sensor 1 should be enabled or disabled

        config SENSOR_WINDOW_1_GPIO_INPUT
            int "GPIO pin"
            default 4
            help
                GPIO input pin number

        config SENSOR_WINDOW_1_GPIO_OUTPUT
            int "GPIO pin"
            default 18
            help
                GPIO output pin number

        config SENSOR_WINDOW_1_INTERRUPT_DEBOUNCE_MS
            int "Interrupt debounce"
            default 100
            help
                debounce interval for interrupt in ms

    endmenu

    menu "Window sensor 2"

        config SENSOR_WINDOW_2_ENABLED
            bool "enable sensor"
            default y
            help
                Whether the window sensor 2 should be enabled or disabled

        config SENSOR_WINDOW_2_GPIO_INPUT
            int "GPIO pin"
            default 0
            help
                GPIO input pin number

        config SENSOR_WINDOW_2_GPIO_OUTPUT
            int "GPIO pin"
            default 21
            help
                GPIO output pin number

        config SENSOR_WINDOW_2_INTERRUPT_DEBOUNCE_MS
            int "Interrupt debounce"
            default 100
            help
                debounce interval for interrupt in ms

    endmenu

endmenu
