menu "WiFi config"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "your_network_name"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "your_password"
        help
            WiFi password (WPA or WPA2) for the example to use.

endmenu


menu "MQTT config"

    config MQTT_USER
        string "MQTT Username"
        default "your_username"

    config MQTT_PASSWORD
        string "MQTT Password"
        default "your_password"

    config MQTT_SERVER_IP
        string "MQTT server ip"
        default "your_ip"

    config MQTT_SERVER_PORT
        int "MQTT server port"
        default 1883

endmenu


menu "I2C"

    config I2C_SDA_GPIO_PIN
        int "GPIO pin for SDA"
        default 21

    config I2C_SDC_GPIO_PIN
        int "GPIO pin for SDC"
        default 22

endmenu


menu "Sensor config"

    config SENSOR_POLL_INTERVAL
        int "interval to poll sensor data (in ms)"
        default 2000

    menu "Battery check"

        config BATTERY_CHECK_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the battery level should be checked or not

    endmenu

    menu "Bosch BME280"

        config SENSOR_BME280_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the BME280 sensor should be enabled or disabled. By default I2C settings connect SDA to GPIO 21 and SCL to GPIO 22

        config SENSOR_BME280_MQTT_TOPIC_TEMPERATURE
            string "MQTT topic for temperature"
            default ""

        config SENSOR_BME280_MQTT_TOPIC_HUMIDITY
            string "MQTT topic for humidity"
            default ""

        config SENSOR_BME280_MQTT_TOPIC_PRESSURE
            string "MQTT topic for pressure"
            default ""

    endmenu

    menu "Window sensor 1"

        config SENSOR_WINDOW_1_ENABLED
            bool "enable sensor"
            default y
            help
                Whether the window sensor 1 should be enabled or disabled

        config SENSOR_WINDOW_1_GPIO_INPUT
            int "GPIO input pin"
            default 4
            help
                GPIO input pin number

        config SENSOR_WINDOW_1_GPIO_OUTPUT
            int "GPIO output pin"
            default 18
            help
                GPIO output pin number

        config SENSOR_WINDOW_1_INTERRUPT_DEBOUNCE_MS
            int "Interrupt debounce"
            default 100
            help
                debounce interval for interrupt in ms

        config SENSOR_WINDOW_1_MQTT_TOPIC
            string "MQTT topic"
            default ""
            help
                MQTT topic for this sensor

    endmenu

    menu "Window sensor 2"

        config SENSOR_WINDOW_2_ENABLED
            bool "enable sensor"
            default n
            help
                Whether the window sensor 2 should be enabled or disabled

        config SENSOR_WINDOW_2_GPIO_INPUT
            int "GPIO input pin"
            default -1
            help
                GPIO input pin number

        config SENSOR_WINDOW_2_GPIO_OUTPUT
            int "GPIO output pin"
            default -1
            help
                GPIO output pin number

        config SENSOR_WINDOW_2_INTERRUPT_DEBOUNCE_MS
            int "Interrupt debounce"
            default 100
            help
                debounce interval for interrupt in ms

        config SENSOR_WINDOW_2_MQTT_TOPIC
            string "MQTT topic"
            default ""
            help
                MQTT topic for this sensor

    endmenu

endmenu
